elpa
auto-save-list
*~
eshell
/ac-comphist.dat
/projectile-bookmarks.eld
/ede-projects.el
/projectile.cache
/GPATH
/GRTAGS
/GTAGS
semanticdb
/company-statistics-cache.el
/.python-environments
/session.10a9dd91ae249488a0145818386499903100000008000032
