elpa
auto-save-list
*~
/ac-comphist.dat
/projectile-bookmarks.eld
/ede-projects.el
/projectile.cache
/GPATH
/GRTAGS
/GTAGS
semanticdb
/company-statistics-cache.el
/.python-environments
/recentf
/session.*
/tramp
/url/
/eshell/lastdir
/eshell/history
