elpa
auto-save-list
*~
/ac-comphist.dat
/projectile-bookmarks.eld
/ede-projects.el
/projectile.cache
/GPATH
/GRTAGS
/GTAGS
semanticdb
/company-statistics-cache.el
/.python-environments
/recentf
/session.*
/tramp
/url/
/eshell/lastdir
/eshell/history
/network-security.data
flycheck_init.el
/bookmarks
irony
/var/pcache/gh/gh-gist-api/anachronic
anaconda-mode
image-dired
.cask
/org-gcal
/.#recentf
emms
/bm-repository
/elisp/.tern-port
/.edbi-ds-history
